/*components.css*/

.header-style {
    background: rgb(255, 255, 255);
    color : #35537e;
    font-size : 44px;
    font-weight: bold ;
    padding: 10px;
    text-align: center;
}

.footer-style {
    background: rgb(255, 255, 255);
    color : #35537e;
    font-size : 14px;
    padding: 10px;
    text-align: center;
}

.title {
    background: rgb(255, 255, 255);
    color : #696c70;
    font-size : 20px;
    padding: 10px;
    text-align: center;
}
